body {
    background-color: black;
}

#point {
    bottom: 0px;
    width: 10px;
    height: 10px;
    radius: 3px;
    background-color: white;
    position: absolute;
    left: 200px;
    border: 2px solid;
    border-radius: 25px;
}
